.header-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav {
	display: flex;
	align-items: center;
}

.nav-items {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 3rem;
	padding: 5px;
}